<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://raw.githubusercontent.com/Suraj121dear/dev/refs/heads/main/0.0.0.1/NewDigiApp.ipa</string>
		<key>displayImageURL</key>
		<string>https://sirmaglobal.com/demoImages/Balance.png</string>
		<key>fullSizeImageURL</key>
		<string>https://sirmaglobal.com/demoImages/Balance.png</string>
	</dict>
	<key>method</key>
	<string>debugging</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>43SV375R33</string>
	<key>thinning</key>
	<string>&lt;thin-for-all-variants&gt;</string>
</dict>
</plist>
