<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "https://raw.githubusercontent.com/Suraj121dear/dev/refs/heads/main/0.0.0.1/NewDigiApp.ipa">
<plist version="1.0">
 <dict>
  <key>items</key>
  <array>
   <dict>
    <key>assets</key>
    <array>
     <dict>
      <key>kind</key>
      <string>software-package</string>
      <key>url</key>
      <string>raw_link</string>
     </dict>
    </array>
    <key>metadata</key>
    <dict>
     <key>bundle-identifier</key>
     <string>net.impacto.digiapp</string>
     <key>bundle-version</key>
     <string>0.0.0.1</string>
     <key>kind</key>
     <string>software</string>
     <key>title</key>
     <string>NewDigiApp</string>
    </dict>
   </dict>
  </array>
 </dict>
</plist>